*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  display: flex;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote {
  font-family: 'Fira Sans Condensed', sans-serif;
}

fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  inline-size: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  align-items: end;
  inline-size: 100%;
  max-inline-size: 1140px;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.content__list-container {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
}

.content__details {
  inline-size: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content__list {
  display: grid;
  gap: 30px;
  padding-inline-start: 0;
  margin-block-start: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-block-end: 5px;
  margin-block-start: 0;
}

.title {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin-block-end: 26px;
  margin-block-start: 12px;
}

.content__accent {
  color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  flex: 1;
}

.search-form__label {
  display: flex;
  align-items: center;
  inline-size: fit-content;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  box-sizing: border-box;
  outline-offset: 1px;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  color: #FFFFFF;
  border-block-start: 1px solid #FFFFFF;
  border-block-end: 1px solid #FFFFFF;
  border-inline-start: none;
  border-inline-end: none;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: transparent;
  outline: none;
}

.search-form__pseudo-checkbox {
  position: relative;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFFFFF;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: transparent;
}

.search-form__pseudo-checkbox.checked::after {
  background-color: #FFFFFF;
}

.search-form__pseudo-checkbox:focus-visible {
  outline: 1px solid #FFFFFF;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #FFFFFF;
}
.search-form__label:focus-visible .search-form__pseudo-checkbox {
  outline: 1px solid #FFFFFF;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  outline: none;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  margin-block-start: auto;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
  margin-block-start: 30px;
} 

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
} 

.content__card-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.content__video-card-title {
  text-align: left;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  inline-size: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  margin-block-start: 5px;
  margin-block-end: 0;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp:3;
  line-clamp: 3;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
} 

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
